{deps, [
	{worker_pool, ".*", {git, "https://github.com/jjmrocha/worker_pool.git", "master"}},
	{event_broker, ".*", {git, "https://github.com/jjmrocha/event_broker.git", "master"}},
	{columbo, ".*", {git, "https://github.com/jjmrocha/columbo.git", "master"}},
	{cclock, ".*", {git, "https://github.com/jjmrocha/cclock.git", "master"}},
	{async, ".*", {git, "https://github.com/jjmrocha/async.git", "master"}},
	{jsondoc, ".*", {git, "git://github.com/jjmrocha/jsondoc.git", "master"}},
	{gibreel, ".*", {git, "https://github.com/jjmrocha/gibreel.git", "master"}},
	{narciso, ".*", {git, "https://github.com/jjmrocha/narciso.git", "master"}}
]}.
